/* GENERAL */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #f1f1f1;
    background: linear-gradient(45deg, rgb(59, 50, 50), rgb(22, 28, 29));
    height: 100vh;
}

/* APP */

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/* CONTAINER */

.container {
    background: linear-gradient(170deg, rgba(228,165,58,1) 24%, rgba(54,181,207,1) 82%);
    height: 600px;
}

/* TOP */

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: 1px solid #f1f1f1;
    text-align: center;
}

#header h1 {
    color: #f1f1f1;
}

/* MAIN */

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    color: #f1f1f1;
    border-right: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
    text-align: center;
}

.temps {
    text-transform: capitalize;
}

.image-temps {
    width: 8rem;
}


/* FOOTER */ 

#footer {
    display: flex;
    flex-direction: column;
    height: 200px;
}

#footer .col-md-2 {
    border: 1px solid #f1f1f1;
    padding: 25px 0px;
}

.futur-heure {
    color: #f1f1f1;
    text-align: center;
}

.futur-temperature {
    color: #f1f1f1;
    text-align: center;
}

.futur-prevision-jour {
    color: #f1f1f1;
    text-align: center;
}

.futur-prevision-temperature {
    color: #f1f1f1;
    text-align: center;
}


/* MEDIA QUERY */ 

@media screen and (max-width: 767px) {
    #app {
        height: 100%;
    }

    #header {
        height: 150px;
    }

    .container {
        height: 100%;
    }

    #main {
        height: 575px;
        border-bottom: 1px solid #f1f1f1;
    }

    #footer {
        display: none;
    }
}